<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!--===============================================================================================-->
	<link href="/css/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="/css/addProduct.css">

	<title>METEGOL | Agregar Cancha</title>
</head>

<body>

    <!--Header-->
    <header class="header">
      <div class="header-container">
        <a href="/" class="logo"><img src="/images/logo.png" alt="logo de metegol"></a>
         <div class="header-right">
          <ul>
            <li><a href="/buscoequipo">BUSCO EQUIPO</a></li>
            <li><a href="/torneo">TORNEOS</a></li>
            <li><a href="/carrito" title="Carrito"><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href="/login" title="Log in"><i class="fas fa-user"></i></i></a></li>
          </ul>
         </div>
        <a href="#" class="hamburguer-icon">TRES RAYITAS</a>
      </div>
    </header>
		
    <!--Formulario-->

    <div class="align">
      <div class="form">
        <form action="/addProduct" method="POST">
        <h1>Agregar disponibilidad de canchas</h1>
          <div class="user-form">
                  
            <div class="input-fields">
              <label>Nombre del complejo:</label>
              <input type="text" name="complejo" class="input" placeholder="Nombre del Complejo" required>
              
              <label>Tipo de cancha: </label>
              <select class="selector" name="jugadores">
                <option disabled selected>Seleccione tipo de cancha</option>
                <option value="F5">Futbol 5</option>
                <option value="F7">Futbol 7</option>
                <option value="F9">Futbol 9</option>
                <option value="F11">Futbol 11</option>
              </select>
            </div>
            
            <div class="input-fields-sd">
              <label>Nombre de la cancha:</label>
              <input type="text" class="input" name="nombreCancha" placeholder="Nombre de la cancha" required>
              
              <label>Horarios disponibles:</label>
                <select name="horario" id="time" required>
                  <option disabled selected>Seleccione horario de disponibilidad</option>
                  <option label="06:00" value="06:00:00">06:00</option>
                  <option label="06:30" value="06:30:00">06:30</option>
                  <option label="07:00" value="07:00:00">07:00</option>
                  <option label="07:30" value="07:30:00">07:30</option>
                  <option label="08:00" value="08:00:00">08:00</option>
                  <option label="08:30" value="08:30:00">08:30</option>
                  <option label="09:00" value="09:00:00">09:00</option>
                  <option label="09:30" value="09:30:00">09:30</option>
                  <option label="10:00" value="10:00:00">10:00</option>
                  <option label="10:30" value="10:30:00">10:30</option>
                  <option label="11:00" value="11:00:00">11:00</option>
                  <option label="11:30" value="11:30:00">11:30</option>
                  <option label="12:00" value="12:00:00">12:00</option>
                  <option label="12:30" value="12:30:00">12:30</option>
                  <option label="13:00" value="13:00:00">13:00</option>
                  <option label="13:30" value="13:30:00">13:30</option>
                  <option label="14:00" value="14:00:00">14:00</option>
                  <option label="14:30" value="14:30:00">14:30</option>
                  <option label="15:00" value="15:00:00">15:00</option>
                  <option label="15:30" value="15:30:00">15:30</option>
                  <option label="16:00" value="16:00:00">16:00</option>
                  <option label="16:30" value="16:30:00">16:30</option>
                  <option label="17:00" value="17:00:00">17:00</option>
                  <option label="17:30" value="17:30:00">17:30</option>
                  <option label="18:00" value="18:00:00">18:00</option>
                  <option label="18:30" value="18:30:00">18:30</option>
                  <option label="19:00" value="19:00:00">19:00</option>
                  <option label="19:30" value="19:30:00">19:30</option>
                  <option label="20:00" value="20:00:00">20:00</option>
                  <option label="20:30" value="20:30:00">20:30</option>
                  <option label="21:00" value="21:00:00">21:00</option>
                  <option label="21:30" value="21:30:00">21:30</option>
                  <option label="22:00" value="22:00:00">22:00</option>
                  <option label="22:30" value="22:30:00">22:30</option>
                  <option label="23:00" value="23:00:00">23:00</option>
                  <option label="23:30" value="23:30:00">23:30</option>
                </select>
                
              <label>Precio del alquiler por hora: </label>
              <input class="input" type="number" name="precio" placeholder="0" name="precioAlquiler" required>
              </div>
          </div>

          <div class="description">
              <label>Descripción del producto: </label>
              <textarea name="descripcion" required> </textarea>
          </div>

        <div><button type="submit" class="btn btn-primary">GUARDAR</button></div>
      </form>
      </div>
    </div>
        
    <!--Footer-->
		<footer class="footer fixed-bottom">
			<div class="footer-left">
				<a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
				<a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
				<a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
			</div>
			<div class="footer-right">
				<ul>
					<li><a href="/proovedores">¿Querés ser proovedor?</a></li>
					<li><a href="/quienesomos">¿Quiénes somos?</a></li>
					<li><a href="/pfrecuentes">Preguntas frecuentes</a></li>
				</ul>
			</div>
		</footer>
	</div>
</body>
</html>