<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!--===============================================================================================-->
	<link href="/css/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="/css/createField.css">

	<title>METEGOL | Agregar Cancha</title>
</head>

<body>

    <!--Header-->
    <header class="header">
      <div class="header-container">
        <a href="/" class="logo"><img src="/images/logo.png" alt="logo de metegol"></a>
         <div class="header-right">
          <ul>
            <li><a href="/buscoequipo">BUSCO EQUIPO</a></li>
            <li><a href="/torneo">TORNEOS</a></li>
            <li><a href="/carrito" title="Carrito"><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href="/login" title="Log in"><i class="fas fa-user"></i></i></a></li>
          </ul>
         </div>
        <a href="#" class="hamburguer-icon">TRES RAYITAS</a>
      </div>
    </header>
		
    <!--Main Content-->

    <div class="align">
      <div class="form">
        <form action="/createField" method="POST">
        <h1>Agregar cancha</h1>
          <div class="field-form">
                  
            <div class="input-fields">
              <label>Nombre del complejo:</label>
              <input type="text" name="complexName" class="input" placeholder="Nombre complejo*" required>
              
              <label>Dirección:</label>
              <input type="text" name="address" class="input" placeholder="Calle, altura, barrio, CP*" minlength="6" required>

              <label>Tipo de cancha: </label>
              <select class="selector" name="fieldType" required>
                <option disabled selected>Seleccione tipo de cancha</option>
                <option value="F5">Futbol 5</option>
                <option value="F7">Futbol 7</option>
                <option value="F9">Futbol 9</option>
                <option value="F11">Futbol 11</option>
              </select>
            </div>
            
            <div class="input-fields-sd">
              <label>Nombre de la cancha:</label>
              <input type="text" class="input" name="name" required>
               
              <label>Teléfono:</label>
              <input type="tel" name="phone" class="input" minlength="8" placeholder="12345678*" required>

              <label>Precio del alquiler por hora: </label>
              <input class="input" type="number" name="price" placeholder="0" required>
            </div>
              
          </div>

          <div class="description">
              <label>Servicios: </label>
              <textarea class="input" name="description" placeholder="Descripción de servicios" required="required"> </textarea>
          </div>
          
          <!-- <div class="upload-images">
            <label>Elige tres imágenes: </label>

            <label class="custom-file">
              <input type="file" id="file" name="image1" class="input">
              <span class="control"></span>
            </label>
         
          </div> -->

        <div><button type="submit" value="submit" class="btn btn-primary">GUARDAR</button></div>
      </form>
      </div>
    </div>
        
    <!--Footer-->
		<footer class="footer fixed-bottom">
			<div class="footer-left">
				<a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
				<a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
				<a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
			</div>
			<div class="footer-right">
				<ul>
					<li><a href="/proovedores">¿Querés ser proovedor?</a></li>
					<li><a href="/quienesomos">¿Quiénes somos?</a></li>
					<li><a href="/pfrecuentes">Preguntas frecuentes</a></li>
				</ul>
			</div>
		</footer>
	</div>
</body>
</html>